<div class="toolbar" role="banner">
  <a routerLink="/" class="flex items-center gap-4 cursor-pointer">
    <img width="40" height="40" alt="Angular Logo" src="assets/ng-logo.webp" />
    <span class="text-white">Angular Cookbook</span>
  </a>
  <div class="spacer"></div>
  <a
    href="https://github.com/PacktPublishing/Angular-Cookbook-2E"
    target="_blank"
    rel="noopener noreferer"
    class="flex gap-4 items-center hover:opacity-60"
  >
    <span class="text-white hover:opacity-50">Code repo</span>
    <img
      width="24"
      height="24"
      alt="github logo"
      class="h-6"
      src="assets/github-mark-white.png"
    />
  </a>
  <a
    target="_blank"
    rel="noopener noreferrer"
    href="https://amzn.to/4awwLgH"
    class="rounded-md duration-200 hover:bg-yellow-500 px-3 py-1.5 bg-yellow-400 text-black font-semibold"
  >
    Buy
  </a>
</div>
