<app-header></app-header>
<main role="main" class="min-h-screen max-w-2xl p-6 mx-auto">
  <section class="flex flex-col items-center md:flex-row gap-6">
    <img
      width="192"
      height="237"
      alt="ng-cookbook 2nd edition"
      class="w-[180px] object-contain sm:object-cover sm:w-[200px] h-[100px] sm:h-[237px]"
      src="assets/ng-cookbook-2.png"
    />
    <div class="text-center md:text-left right">
      <h2 class="text-3xl mb-4">Thank You!</h2>
      <section class="flex flex-col gap-4">
        <h4>
          Hey reader, I want to thank you for getting a copy of the Angular
          Cookbook 2nd Edition!
        </h4>
        <p class="my-2">
          If you found the book useful, do consider giving it a review
          <span role="img" aria-labelledby="star"> 🌟 </span>
          on
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://www.amazon.com/Angular-Cookbook-actionable-recipes-developers/dp/1803233443"
            >Amazon</a
          >
        </p>
        <p class="my-2">
          Feel free to check out more angular projects on my
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://github.com/ahsanayaz"
            >GitHub</a
          >
          (leave a follow if you like) and check out my
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://youtube.com/codewithahsan"
            >YouTube</a
          >
          channel for more amazing Angular content.
        </p>
      </section>
    </div>
  </section>

  @if (session(); as session) {
  <hr class="my-4" />
  <section class="mt-6 flex flex-col gap-4 text-center">
    <h3 class="text-lg">See recipe reviews</h3>
    <h2 class="text-xl font-bold">{{session.title}}</h2>
    <iframe [src]="reviewLink()" class="w-full py-10" height="500"></iframe>
  </section>
  }
</main>
