@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./styles/topnav";
@import "./styles/helper";
@import "./styles/testi";

@font-face {
  font-family: "Nunito";
  src: url(assets/fonts/Nunito-Regular.ttf);
  font-display: swap;
}

html,
body {
  font-family: "Nunito", sans-serif;
}

.toolbar {
  @apply flex justify-between left-0 right-0 bg-gray-900 items-center min-h-[56px] text-white font-bold  pl-0 pr-0 md:px-4;
  &__title[routerLink] {
    cursor: pointer;
  }
  &__logo[routerLink] {
    cursor: pointer;
  }
  .route-links {
    padding: 8px 16px;
    display: flex;
    justify-content: flex-start;
    &__route-link {
      margin-right: 10px;
      padding: 6px 16px;
      transition: all ease 0.2s;
      cursor: pointer;
      &:hover:not(&--active) {
        color: #333;
      }
      &--active {
        color: white;
        background-color: #333;
      }
    }
  }
  a:nth-last-child(1) {
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.toolbar img {
  margin: 0 16px;
}

.toolbar .notif-bell {
  margin: 0 20px 0 16px;
}

.spacer {
  flex: 1;
}

// a[href] {
//   @apply text-purple-700 cursor-pointer;
// }
