<div class="toolbar" role="banner">
  <img
    width="40"
    height="40"
    alt="Angular Logo"
    src="assets/ng-logo.webp"
  />
  <span>Angular Cookbook</span>
  <div class="spacer"></div>
  <a href="https://github.com/ahsanayaz"
  target="_blank"
  rel="noopener noreferer"
  class="flex gap-4 items-center hover:opacity-60">
    <img width="24" height="24" alt="github logo" class="h-6" src="assets/github-mark-white.png">
  </a>
</div>
<main class="min-h-screen max-w-md p-6 mx-auto flex flex-col gap-6">
  <div class="books-container">
    <a target="_blank" class="book-image-card" rel="noreferrer noopener" href="https://www.amazon.com/Angular-Cookbook-recipes-enterprise-scale-development-dp-1838989439/dp/1838989439/">
      <img width="192" height="237" alt="ng-cookbook 1st edition" class="w-[80px] sm:w-[200px] h-[100px] sm:h-[237px]" src="assets/ng-cookbook-1.jpg"/>
      <div class="flex flex-col flex-1 w-full items-center">
        <h2 class="flex-1 text-center">
          Angular Cookbook
        </h2>
        <div class="flex items-center">
          <span>⭐⭐⭐⭐</span><span class="half-star">⭐</span>
        </div>
      </div>
    </a>
    <a target="_blank" class="book-image-card" rel="noreferrer noopener" href="https://amzn.to/4awwLgH">
      <img width="192" height="237" alt="ng-cookbook 2nd edition" class="w-[80px] sm:w-[200px] h-[100px] sm:h-[237px]" src="assets/ng-cookbook-black.jpg"/>
      <h2 class="w-full text-center">Angular Cookbook 2nd Edition</h2>
    </a>
  </div>
  <p class="text-lg">Angular Cookbook (2nd Edition) is being released towards the end of 2023 with recipes including the <a class="text-purple-700 cursor-pointer hover:underline" target="_blank" href="https://youtu.be/bjU2OBq_ASc">
    new features from v17
  </a>. Be the first to know when it is about to be released and about the discounts/coupons.</p>
  <section>
    <app-mailchimp-ng2e></app-mailchimp-ng2e>
  </section>
</main>
