<div class="toolbar" role="banner">
  <img
    width="40"
    height="40"
    alt="Angular Logo"
    src="assets/ng-logo.webp"
  />
  <span>Angular Cookbook</span>
  <div class="spacer"></div>
  <a
    href="https://codewithahsan.dev/ng-book"
    target="_blank"
    rel="noopener noreferer"
    class="flex gap-4 items-center hover:opacity-60"
  >
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 006 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 016 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 016-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0018 18a8.967 8.967 0 00-6 2.292m0-14.25v14.25" />
    </svg>
    <span>1st Edition ⭐⭐⭐⭐</span>
  </a>
  <a href="https://github.com/ahsanayaz"
  target="_blank"
  rel="noopener noreferer"
  class="flex gap-4 items-center hover:opacity-60">
    <img width="24" height="24" alt="github logo" class="h-6" src="assets/github-mark-white.png">
  </a>
</div>
<main class="min-h-screen max-w-md p-6 mx-auto flex flex-col gap-6">
  <div class="flex min-h-[150px] sm:min-h-[200px] gap-4 items-center justify-center max-w-md">
    <img width="192" height="237" alt="ng-cookbook purple" class="w-[80px] sm:w-[200px] h-[100px] sm:h-[237px]" src="assets/ng-cookbook-1.jpg"/>
    <img width="192" height="237" alt="ng-cookbook black" class="w-[80px] sm:w-[200px] h-[100px] sm:h-[237px]" src="assets/ng-cookbook-black.jpg"/>

  </div>
  <p class="text-lg">Angular Cookbook (2nd Edition) is being released towards the end of 2023 with recipes including the <a class="text-purple-700 cursor-pointer hover:underline" target="_blank" href="https://youtu.be/bjU2OBq_ASc">
    new features from v17
  </a>. Be the first to know when it is about to be released and about the discounts/coupons.</p>
  <section>
    <app-mailchimp-ng2e></app-mailchimp-ng2e>
  </section>
</main>
