.books-container {
  @apply flex flex-col md:flex-row gap-4 items-center h-full max-w-md;
  .book-image-card {
    @apply h-full flex flex-col gap-4 justify-center items-center hover:-translate-y-2 duration-200;
    img, h2 {
      @apply duration-200;
    }
    &:hover {
      img {
        @apply drop-shadow-lg;
      }
      h2 {
        @apply text-purple-800 font-bold;
      }
    }
  }
}

.half-star {
  width: 9px;
  display: inline-block;
  overflow: hidden;
}

