.books-container {
  @apply grid grid-cols-1 sm:grid-cols-2 place-content-center gap-4 items-center h-full justify-center max-w-md;
  .book-image-card {
    @apply h-full flex flex-col gap-4 justify-center items-center hover:-translate-y-2 duration-200;
    img, h2 {
      @apply duration-200;
    }
    &:hover {
      img {
        @apply shadow-md shadow-purple-800;
      }
      h2 {
        @apply text-purple-800;
      }
    }
  }
}

.half-star {
  width: 9px;
  display: inline-block;
  overflow: hidden;
}

