<!-- Start Navbar -->
<!-- Start Navbar -->
<nav id="topnav" class="defaultscroll is-sticky px-6">
  <div class="container relative flex justify-between items-center">
    <!-- Logo container-->
    <a class="logo" routerLink="/"> Angular Cookbook </a>
    <!-- End Logo container-->

    <!--Login button End-->

    <div id="navigation">
      <!-- Navigation Menu-->
      <ul class="navigation-menu justify-end" id="navmenu-nav">
        <li class="has-submenu">
          <a href="#home" class="sub-menu-item">Home</a>
        </li>
        <li class="has-submenu">
          <a href="#features" class="sub-menu-item">Feature</a>
        </li>
        <li class="has-submenu">
          <a href="#pricing" class="sub-menu-item">Price</a>
        </li>
        <li class="has-submenu">
          <a href="#team" class="sub-menu-item">Team</a>
        </li>
        <li class="has-submenu">
          <a href="#review" class="sub-menu-item">Review</a>
        </li>
        <li class="has-submenu">
          <a href="#blog" class="sub-menu-item">Blog</a>
        </li>
        <li class="has-submenu" onclick="ContactUs.showModal()">
          <a href="javascript:void(0)" class="sub-menu-item">Contact</a>
        </li>
      </ul>
      <!--end navigation menu-->
    </div>
    <!--Login button Start-->
    <ul class="buy-button list-none mb-0">
      <li class="inline ps-1 mb-0">
        <a
          href="https://amzn.to/4awwLgH"
          target="_blank"
          class="size-9 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full bg-indigo-600 hover:bg-indigo-700 border border-indigo-600 hover:border-indigo-700 text-white"
          ><i-feather name="shopping-cart" class="size-4"></i-feather
        ></a>
      </li>
    </ul>
    <div class="menu-extras">
      <div class="menu-item">
        <a class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
          <div class="lines">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </a>
      </div>
    </div>
    <!--end navigation-->
  </div>
  <!--end container-->
</nav>
<!--end header-->

<!-- Start Home -->
<section
  id="jarallaxContainer"
  class="relative flex h-[70vh] md:h-screen py-44 items-center bg-cover bg-center self-center"
>
  <div
    class="absolute md:block inset-0 h-full w-full jarallax"
    data-jarallax
    data-speed="0.7"
    style="background: url('assets/images/ahsan-angular.jpg') bottom"
  ></div>
  <div
    data-jarallax
    data-speed="1.6"
    class="absolute inset-0 h-full md:w-[400px] xl:w-[500px] 2xl:w-[600px] md:left-auto md:right-0 md:top-[30%] 2xl:left-16 2xl:top-28 object-contain md:block hidden jarallax-img"
  >
    <img class="jarallax-img" src="assets/images/hero-text-lg.png" />
  </div>
  <div
    data-jarallax
    data-speed="1.6"
    class="absolute inset-0 pt-32 h-max w-[200px] left-0 top-0 bottom-0 right-0 m-auto object-contain block md:hidden jarallax-img"
  >
    <img class="jarallax-img" src="assets/images/hero-text-sm.png" />
  </div>
  <div
    data-jarallax
    data-keep-img="true"
    data-speed="0.8"
    class="hide-nested-image absolute inset-0 jarallax mx-auto right-0 bottom-0 top-auto object-contain md:pr-24"
  >
    <img
      appBookHeight
      class="jarallax-img object-contain object-center h-[40vh] w-full"
      src="assets/images/ng-cookbook-black.jpg"
    />
  </div>
  <div
    class="absolute inset-0 bg-gradient-to-t to-transparent via-transparent from-slate-900 hidden dark:block"
  ></div>
  <div
    class="absolute inset-0 bg-gradient-to-t to-transparent via-transparent from-white dark:hidden block"
  ></div>
</section>
<!--end section-->
<!-- End Home -->

<!-- Start Section-->
<section class="relative md:py-24 py-16">
  <div class="container mx-auto relative">
    <div class="grid grid-cols-1 pb-8 text-center">
      <h3
        class="mb-4 md:text-3xl md:leading-normal text-2xl leading-normal font-semibold"
      >
        Angular Cookbook
      </h3>

      <p class="text-slate-400 text-lg max-w-2xl mx-auto">
        A modern, practical, and no-nonsense guide to Angular, Angular Cookbook
        is packed with practical examples and real-world recipes to help you
        build efficient, maintainable, and scalable Angular applications.
      </p>
    </div>
    <!--end grid-->

    <div
      class="grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 mt-8 gap-[30px] mx-auto"
    >
      <div class="relative overflow-hidden h-fit">
        <img
          src="assets/images/screencasts/cdk-drag-drop.gif"
          class="rounded-md"
          alt=""
        />
        <div
          class="absolute inset-0 h-full w-full bg-gradient-to-t to-transparent via-white/80 dark:via-slate-900/80 from-white dark:from-slate-900"
        ></div>

        <div class="absolute text-center p-6 bottom-0 start-0 end-0">
          <a href="photography-about.html" class="font-semibold text-lg"
            >Angular CDK Drag & Drop <i class="uil uil-arrow-up-right"></i
          ></a>
        </div>
      </div>
      <!--end content-->

      <div class="relative overflow-hidden h-fit lg:mt-16">
        <img
          src="assets/images/screencasts/cdk-stepper.webp"
          class="rounded-md"
          alt=""
        />
        <div
          class="absolute inset-0 h-full w-full bg-gradient-to-t to-transparent via-white/80 dark:via-slate-900/80 from-white dark:from-slate-900"
        ></div>

        <div class="absolute text-center p-6 bottom-0 start-0 end-0">
          <a
            href="https://packtpublishing.github.io/Angular-Cookbook-2E/chapter09/ng-cdk-stepper/final/index.html"
            class="font-semibold text-lg"
            >Angular CDK Stepper <i class="uil uil-arrow-up-right"></i
          ></a>
        </div>
      </div>
      <!--end content-->

      <div class="relative overflow-hidden h-fit">
        <img
          src="assets/images/screencasts/route-animations.gif"
          class="rounded-md"
          alt=""
        />
        <div
          class="absolute inset-0 h-full w-full bg-gradient-to-t to-transparent via-white/80 dark:via-slate-900/80 from-white dark:from-slate-900"
        ></div>

        <div class="absolute text-center p-6 bottom-0 start-0 end-0">
          <a
            href="https://packtpublishing.github.io/Angular-Cookbook-2E/chapter04/ng-route-animations/final/"
            class="font-semibold text-lg"
            target="_blank"
            >Angular Route Animations <i class="uil uil-arrow-up-right"></i
          ></a>
        </div>
      </div>
      <!--end content-->

      <div class="relative overflow-hidden h-fit lg:mt-16">
        <img
          src="assets/images/screencasts/multi-observable.webp"
          class="rounded-md"
          alt=""
        />
        <div
          class="absolute inset-0 h-full w-full bg-gradient-to-t to-transparent via-white/80 dark:via-slate-900/80 from-white dark:from-slate-900"
        ></div>

        <div class="absolute text-center p-6 bottom-0 start-0 end-0">
          <a
            href="https://packtpublishing.github.io/Angular-Cookbook-2E/chapter05/rx-multiple-streams/final/"
            class="font-semibold text-lg"
            target="_blank"
            >RxJS Multi Observable Streams<i class="uil uil-arrow-up-right"></i
          ></a>
        </div>
      </div>
      <!--end content-->
    </div>
    <!--end grid-->
  </div>
  <!--end container-->
</section>
<!--end section-->

<!-- Start -->
<section
  class="relative md:py-56 py-44 bg-[url('assets/images/ahsan-angular.jpg')] bg-cover jarallax"
  data-jarallax
  data-speed="0.5"
  id="aboutme"
>
  <div
    class="absolute inset-0 h-full w-full bg-gradient-to-t to-transparent via-white/80 dark:via-slate-900/80 from-white dark:from-slate-900"
  ></div>

  <div class="absolute text-center p-6 bottom-0 start-0 end-0">
    <h3
      class="md:text-3xl md:leading-normal text-2xl leading-normal font-semibold"
    >
      Jack Jeffrey
    </h3>
  </div>
</section>
<!--end section-->

<section class="relative pt-8 md:pb-24 py-16">
  <div class="container relative">
    <div class="flex justify-center">
      <div class="lg:max-w-768 w-full text-center">
        <p>
          The most well-known dummy text is the 'Lorem Ipsum', which is said to
          have originated in the 16th century. Lorem Ipsum is composed in a
          pseudo-Latin language which more or less corresponds to 'proper'
          Latin. It contains a series of real Latin words.
        </p>
        <p class="text-slate-400 mt-6">
          This ancient dummy text is also incomprehensible, but it imitates the
          rhythm of most European languages in Latin script. The advantage of
          its Latin origin and the relative meaninglessness of Lorum Ipsum is
          that the text does not attract attention to itself or distract the
          viewer's attention from the layout.
        </p>
        <p class="text-slate-400 mt-6">
          Moreover, in Latin only words at the beginning of sentences are
          capitalized; this means that Lorem Ipsum cannot accurately represent,
          for example, German, in which all nouns are capitalized. Thus, Lorem
          Ipsum has only limited suitability as a visual filler for German
          texts.
        </p>
        <p class="text-slate-400 mt-6">
          If the fill text is intended to illustrate the characteristics of
          different typefaces, it sometimes makes sense to select texts
          containing the various letters and symbols specific to the output
          language.
        </p>
        <p class="text-slate-400 mt-6">
          It seems that only fragments of the original text remain in the Lorem
          Ipsum texts used today. One may speculate that over the course of time
          certain letters were added or deleted at various positions within the
          text. This might also explain why one can now find slightly different
          versions. Due to the age of the Lorem Ipsum text there are no
          copyright issues to contend with.
        </p>

        <div class="mt-6 text-center">
          <a
            href="photography-about.html"
            class="relative inline-block font-semibold tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 text-slate-400 dark:text-white/70 dark:hover:text-white hover:text-indigo-600 after:bg-indigo-600 dark:after:bg-white duration-500 ease-in-out"
            >Read More <i class="uil uil-arrow-right"></i
          ></a>
        </div>
      </div>
    </div>
    <!--end flex-->
  </div>
  <!--end container-->

  <div class="container relative md:mt-24 mt-16">
    <div class="grid grid-cols-1 pb-8 text-center">
      <h3
        class="mb-4 md:text-3xl md:leading-normal text-2xl leading-normal font-semibold"
      >
        Portfolio / Photography
      </h3>

      <p class="text-slate-400 max-w-2xl mx-auto">
        As a Freelance Designer & Developer, I am here to make you stand out in
        the digital world and my passion for design and your vision will ensure
        a great end result.
      </p>
    </div>
    <!--end grid-->

    <div id="grid" class="md:flex justify-center mx-auto mt-4">
      <div
        class="lg:w-1/4 md:w-1/3 p-1 picture-item"
        data-groups='["branding"]'
      >
        <div
          class="group relative block overflow-hidden rounded-md duration-500"
        >
          <img
            src="assets/images/photography/p1.jpg"
            class=""
            alt="work-image"
          />
          <div
            class="absolute top-1/2 -translate-y-1/2 start-0 end-0 text-center opacity-0 group-hover:opacity-100 duration-500"
          >
            <a
              href="assets/images/photography/p1.jpg"
              class="size-9 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full bg-indigo-600 hover:bg-indigo-700 border-indigo-600 hover:border-indigo-700 text-white lightbox"
              ><i class="uil uil-camera"></i
            ></a>
          </div>
        </div>
      </div>

      <div
        class="lg:w-1/4 md:w-1/3 p-1 picture-item"
        data-groups='["designing"]'
      >
        <div
          class="group relative block overflow-hidden rounded-md duration-500"
        >
          <img
            src="assets/images/photography/p2.jpg"
            class=""
            alt="work-image"
          />
          <div
            class="absolute top-1/2 -translate-y-1/2 start-0 end-0 text-center opacity-0 group-hover:opacity-100 duration-500"
          >
            <a
              href="assets/images/photography/p2.jpg"
              class="size-9 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full bg-indigo-600 hover:bg-indigo-700 border-indigo-600 hover:border-indigo-700 text-white lightbox"
              ><i class="uil uil-camera"></i
            ></a>
          </div>
        </div>
      </div>

      <div
        class="lg:w-1/4 md:w-1/3 p-1 picture-item"
        data-groups='["photography"]'
      >
        <div
          class="group relative block overflow-hidden rounded-md duration-500"
        >
          <img
            src="assets/images/photography/p3.jpg"
            class=""
            alt="work-image"
          />
          <div
            class="absolute top-1/2 -translate-y-1/2 start-0 end-0 text-center opacity-0 group-hover:opacity-100 duration-500"
          >
            <a
              href="assets/images/photography/p3.jpg"
              class="size-9 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full bg-indigo-600 hover:bg-indigo-700 border-indigo-600 hover:border-indigo-700 text-white lightbox"
              ><i class="uil uil-camera"></i
            ></a>
          </div>
        </div>
      </div>

      <div
        class="lg:w-1/4 md:w-1/3 p-1 picture-item"
        data-groups='["branding"]'
      >
        <div
          class="group relative block overflow-hidden rounded-md duration-500"
        >
          <img
            src="assets/images/photography/p4.jpg"
            class=""
            alt="work-image"
          />
          <div
            class="absolute top-1/2 -translate-y-1/2 start-0 end-0 text-center opacity-0 group-hover:opacity-100 duration-500"
          >
            <a
              href="assets/images/photography/p4.jpg"
              class="size-9 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full bg-indigo-600 hover:bg-indigo-700 border-indigo-600 hover:border-indigo-700 text-white lightbox"
              ><i class="uil uil-camera"></i
            ></a>
          </div>
        </div>
      </div>

      <div
        class="lg:w-1/4 md:w-1/3 p-1 picture-item"
        data-groups='["branding"]'
      >
        <div
          class="group relative block overflow-hidden rounded-md duration-500"
        >
          <img
            src="assets/images/photography/p5.jpg"
            class=""
            alt="work-image"
          />
          <div
            class="absolute top-1/2 -translate-y-1/2 start-0 end-0 text-center opacity-0 group-hover:opacity-100 duration-500"
          >
            <a
              href="assets/images/photography/p5.jpg"
              class="size-9 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full bg-indigo-600 hover:bg-indigo-700 border-indigo-600 hover:border-indigo-700 text-white lightbox"
              ><i class="uil uil-camera"></i
            ></a>
          </div>
        </div>
      </div>

      <div
        class="lg:w-1/4 md:w-1/3 p-1 picture-item"
        data-groups='["designing"]'
      >
        <div
          class="group relative block overflow-hidden rounded-md duration-500"
        >
          <img
            src="assets/images/photography/p7.jpg"
            class=""
            alt="work-image"
          />
          <div
            class="absolute top-1/2 -translate-y-1/2 start-0 end-0 text-center opacity-0 group-hover:opacity-100 duration-500"
          >
            <a
              href="assets/images/photography/p7.jpg"
              class="size-9 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full bg-indigo-600 hover:bg-indigo-700 border-indigo-600 hover:border-indigo-700 text-white lightbox"
              ><i class="uil uil-camera"></i
            ></a>
          </div>
        </div>
      </div>

      <div
        class="lg:w-1/4 md:w-1/3 p-1 picture-item"
        data-groups='["development"]'
      >
        <div
          class="group relative block overflow-hidden rounded-md duration-500"
        >
          <img
            src="assets/images/photography/p11.jpg"
            class=""
            alt="work-image"
          />
          <div
            class="absolute top-1/2 -translate-y-1/2 start-0 end-0 text-center opacity-0 group-hover:opacity-100 duration-500"
          >
            <a
              href="assets/images/photography/p11.jpg"
              class="size-9 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full bg-indigo-600 hover:bg-indigo-700 border-indigo-600 hover:border-indigo-700 text-white lightbox"
              ><i class="uil uil-camera"></i
            ></a>
          </div>
        </div>
      </div>

      <div
        class="lg:w-1/4 md:w-1/3 p-1 picture-item"
        data-groups='["development"]'
      >
        <div
          class="group relative block overflow-hidden rounded-md duration-500"
        >
          <img
            src="assets/images/photography/p10.jpg"
            class=""
            alt="work-image"
          />
          <div
            class="absolute top-1/2 -translate-y-1/2 start-0 end-0 text-center opacity-0 group-hover:opacity-100 duration-500"
          >
            <a
              href="assets/images/photography/p10.jpg"
              class="size-9 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full bg-indigo-600 hover:bg-indigo-700 border-indigo-600 hover:border-indigo-700 text-white lightbox"
              ><i class="uil uil-camera"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
    <!--end grid-->

    <div class="grid grid-cols-1 mt-8">
      <div class="text-center">
        <a
          href="photography-portfolio.html"
          class="relative inline-block font-semibold tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 text-slate-400 dark:text-white/70 dark:hover:text-white hover:text-indigo-600 after:bg-indigo-600 dark:after:bg-white duration-500 ease-in-out"
          >See More <i class="uil uil-arrow-right"></i
        ></a>
      </div>
    </div>
  </div>
  <!--end container-->
</section>
<!--end section-->
<!-- End -->

<!-- Footer Start -->
<footer
  class="footer relative text-gray-400 dark:text-gray-400"
  style="background: url('assets/images/photography/footer.jpg') top left"
>
  <div
    class="absolute inset-0 bg-gradient-to-r to-transparent via-white dark:via-slate-900 from-white dark:from-slate-900"
  ></div>
  <div class="container relative">
    <div class="grid grid-cols-12">
      <div class="col-span-12">
        <div class="py-[60px] px-0">
          <div class="grid grid-cols-1">
            <div>
              <a
                href="mailto:contact@example.com"
                class="relative inline-block font-semibold tracking-wide align-middle text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 text-2xl text-slate-900 dark:text-white dark:hover:text-white hover:text-indigo-600 after:bg-indigo-600 dark:after:bg-white duration-500 ease-in-out"
                >contact&commat;example.com</a
              >
            </div>
            <p class="mt-6 max-w-2xl">
              As a Freelance Designer & Developer, I am here to make you stand
              out in the digital world and my passion for design and your vision
              will ensure a great end result.
            </p>
            <ul class="list-none mt-6">
              <li class="inline">
                <a
                  href="https://1.envato.market/techwind"
                  target="_blank"
                  class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center text-gray-400 hover:text-white border border-gray-100 dark:border-gray-800 rounded-md hover:border-indigo-600 dark:hover:border-indigo-600 hover:bg-indigo-600 dark:hover:bg-indigo-600"
                  ><i
                    class="uil uil-shopping-cart align-middle"
                    title="Buy Now"
                  ></i
                ></a>
              </li>
              <li class="inline">
                <a
                  href="https://dribbble.com/shreethemes"
                  target="_blank"
                  class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center text-gray-400 hover:text-white border border-gray-100 dark:border-gray-800 rounded-md hover:border-indigo-600 dark:hover:border-indigo-600 hover:bg-indigo-600 dark:hover:bg-indigo-600"
                  ><i class="uil uil-dribbble align-middle" title="dribbble"></i
                ></a>
              </li>
              <li class="inline">
                <a
                  href="https://www.behance.net/shreethemes"
                  target="_blank"
                  class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center text-gray-400 hover:text-white border border-gray-100 dark:border-gray-800 rounded-md hover:border-indigo-600 dark:hover:border-indigo-600 hover:bg-indigo-600 dark:hover:bg-indigo-600"
                  ><i class="uil uil-behance" title="Behance"></i
                ></a>
              </li>
              <li class="inline">
                <a
                  href="http://linkedin.com/company/shreethemes"
                  target="_blank"
                  class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center text-gray-400 hover:text-white border border-gray-100 dark:border-gray-800 rounded-md hover:border-indigo-600 dark:hover:border-indigo-600 hover:bg-indigo-600 dark:hover:bg-indigo-600"
                  ><i class="uil uil-linkedin" title="Linkedin"></i
                ></a>
              </li>
              <li class="inline">
                <a
                  href="https://www.facebook.com/shreethemes"
                  target="_blank"
                  class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center text-gray-400 hover:text-white border border-gray-100 dark:border-gray-800 rounded-md hover:border-indigo-600 dark:hover:border-indigo-600 hover:bg-indigo-600 dark:hover:bg-indigo-600"
                  ><i
                    class="uil uil-facebook-f align-middle"
                    title="facebook"
                  ></i
                ></a>
              </li>
              <li class="inline">
                <a
                  href="https://www.instagram.com/shreethemes/"
                  target="_blank"
                  class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center text-gray-400 hover:text-white border border-gray-100 dark:border-gray-800 rounded-md hover:border-indigo-600 dark:hover:border-indigo-600 hover:bg-indigo-600 dark:hover:bg-indigo-600"
                  ><i
                    class="uil uil-instagram align-middle"
                    title="instagram"
                  ></i
                ></a>
              </li>
              <li class="inline">
                <a
                  href="https://twitter.com/shreethemes"
                  target="_blank"
                  class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center text-gray-400 hover:text-white border border-gray-100 dark:border-gray-800 rounded-md hover:border-indigo-600 dark:hover:border-indigo-600 hover:bg-indigo-600 dark:hover:bg-indigo-600"
                  ><i class="uil uil-twitter align-middle" title="twitter"></i
                ></a>
              </li>
              <li class="inline">
                <a
                  href="mailto:support@shreethemes.in"
                  class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center text-gray-400 hover:text-white border border-gray-100 dark:border-gray-800 rounded-md hover:border-indigo-600 dark:hover:border-indigo-600 hover:bg-indigo-600 dark:hover:bg-indigo-600"
                  ><i class="uil uil-envelope align-middle" title="email"></i
                ></a>
              </li>
              <li class="inline">
                <a
                  href="https://forms.gle/QkTueCikDGqJnbky9"
                  target="_blank"
                  class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center text-gray-400 hover:text-white border border-gray-100 dark:border-gray-800 rounded-md hover:border-indigo-600 dark:hover:border-indigo-600 hover:bg-indigo-600 dark:hover:bg-indigo-600"
                  ><i
                    class="uil uil-file align-middle"
                    title="customization"
                  ></i
                ></a>
              </li>
            </ul>
            <!--end icon-->
          </div>
          <!--end grid-->
        </div>
        <!--end col-->
      </div>
    </div>
    <!--end grid-->
  </div>
  <!--end container-->

  <div class="py-[30px] px-0 border-t border-slate-800">
    <div class="container relative text-center">
      <div class="grid md:grid-cols-2 items-center">
        <div class="md:text-start text-center">
          <p class="mb-0">
            ©
            <script>
              document.write(new Date().getFullYear());
            </script>
            Techwind. Design with <i class="mdi mdi-heart text-red-600"></i> by
            <a href="https://shreethemes.in/" target="_blank" class="text-reset"
              >Shreethemes</a
            >.
          </p>
        </div>
      </div>
      <!--end grid-->
    </div>
    <!--end container-->
  </div>
</footer>
<!--end footer-->
<!-- Footer End -->

<!-- Start Cookie Popup -->
<div
  class="cookie-popup fixed max-w-lg bottom-3 end-3 start-3 sm:start-0 mx-auto bg-white dark:bg-slate-900 shadow dark:shadow-gray-800 rounded-md py-5 px-6 z-50"
>
  <div class="cookie-popup-actions text-end">
    <button
      class="absolute border-none bg-none p-0 cursor-pointer font-semibold top-2 end-2"
    >
      <i class="uil uil-times text-dark dark:text-slate-200 text-2xl"></i>
    </button>
  </div>
</div>
<!--Note: Cookies Js including in plugins.init.js (path like; assets/js/plugins.init.js) and Cookies css including in _helper.scss (path like; scss/_helper.scss)-->
<!-- End Cookie Popup -->

<!-- Back to top -->
<a
  href="#"
  onclick="topFunction()"
  id="back-to-top"
  class="back-to-top fixed hidden text-lg rounded-full z-10 bottom-5 end-5 size-9 text-center bg-indigo-600 text-white leading-9"
  ><i class="uil uil-arrow-up"></i
></a>
<!-- Back to top -->

<!-- Switcher -->
<div class="fixed top-[30%] -right-2 z-50">
  <span class="relative inline-block rotate-90">
    <input type="checkbox" class="checkbox opacity-0 absolute" id="chk" />
    <label
      class="label bg-slate-900 dark:bg-white shadow dark:shadow-gray-800 cursor-pointer rounded-full flex justify-between items-center p-1 w-14 h-8"
      for="chk"
    >
      <i class="uil uil-moon text-[20px] text-yellow-500"></i>
      <i class="uil uil-sun text-[20px] text-yellow-500"></i>
      <span
        class="ball bg-white dark:bg-slate-900 rounded-full absolute top-[2px] left-[2px] size-7"
      ></span>
    </label>
  </span>
</div>
<span appBehaviors></span>
